.container{:style => "padding-left: 60px;"}
  = form_for @vehicle_road_tax, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :vehicle_id

    %dl.dl-horizontal
      %dt
        %strong= t 'vehicles.reg_no'
      %dd
        = h @vehicle_road_tax.vehicle.reg_no
    %br/
      
    .control-group
      = f.label :from, :class => 'control-label'
      .controls
        #datepicker.input-daterange
          = f.text_field :start_on, :class => 'text_field input-medium', :type => :text
          %span.add-on{:style => "height:30px;"}= t 'helpers.label.vehicle_road_tax.to'
          = f.text_field :end_on, :class => 'text_field input-medium', :type => :text

    .control-group
      = f.label :amount, :class => 'control-label'
      .controls
        .input-prepend
          %span.add-on{:style => "height:30px;"} RM &nbsp;
          = f.text_field :amount, :class => "span2", :id => "prependedInput", :type => "text"

    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicle_road_taxes_path, :class => 'btn'
