.container{:style => "padding-left: 60px;"}
  = form_for @vehicle_road_tax, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :vehicle_id

    %dl.dl-horizontal
      %dt
        %strong Registration No :
      %dd
        = h @vehicle.reg_no
    %br/
      
    .control-group
      = f.label :start_on, :class => 'control-label'
      .controls= f.text_field :start_on, :class => 'text_field', :type => :text, 'data-behaviour' => 'daterange'

    .control-group
      = f.label :end_on, :class => 'control-label'
      .controls= f.text_field :end_on, :class => 'text_field', :type => :text, 'data-behaviour' => 'daterange'

    .control-group
      = f.label :amount, :class => 'control-label'
      .controls= f.text_field :amount, :placeholder => "RM", :class => 'text_field'


    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicle_road_taxes_path, :class => 'btn'
