- provide(:title, 'Vehicles road taxes')
- model_class = VehicleRoadTax
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
  
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Vehicle
      %th Start on
      %th End on
      %th Amount
      %th     
  %tbody
    - @vehicle_road_taxes.each do |vehicle_road_tax| 
      %tr{:class => vehicle_road_tax.status}
        %td= vehicle_road_tax.vehicle.reg_no
        %td= vehicle_road_tax.start_on 
        %td= vehicle_road_tax.end_on 
        %td= vehicle_road_tax.amount 
        = render :partial => 'action_menu', :locals => { :vehicle_road_tax => vehicle_road_tax }



