//- provide(:title, 'Vehicles road taxes')
- model_class = VehicleRoadTax
.page-header
  %h1= t 'vehicle_road_taxes.title', :default => model_class.model_name.human.pluralize


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
  
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :work_order_no_cont, "Registration No :"
        = f.text_field :vehicle_reg_no_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'vehicle.vehicle_id'
      %th= sort_link @search, :start_on, t('vehicle_road_taxes.start_on') 
      %th= sort_link @search, :end_on, t('vehicle_road_taxes.end_on') 
      %th= sort_link @search, :amount, t('vehicle_road_taxes.amount') 
      %th.action_menu_td     
  %tbody
    - @vehicle_road_taxes.each do |vehicle_road_tax| 
      %tr{:class => vehicle_road_tax.status}
        %td= vehicle_road_tax.try(:vehicle).try(:reg_no)
        %td= vehicle_road_tax.start_on.try(:strftime, '%d-%b-%Y')
        %td= vehicle_road_tax.end_on.try(:strftime, '%d-%b-%Y')
        %td= ringgols(vehicle_road_tax.amount)
        = render :partial => 'action_menu', :locals => { :vehicle_road_tax => vehicle_road_tax }



