.navbar
  %ul.nav
    %li= link_to(fa_icon("print", text: (t 'actions.print')), '#', onclick: "javascript:print()")
    %li= link_to (t 'vehicle_road_taxes.other_report'), "/vehicle_road_taxes/report_roadtax"
%br
%h2 
  = t 'report.road_tax_listing_end'
  =Date.today.next_month.strftime("%b %Y")
%table.table.table-bordered
  %thead
    %tr
      %th= t 'vehicle.vehicle_id'
      %th= t 'vehicle_road_taxes.start_on' 
      %th= t 'vehicle_road_taxes.end_on' 
      %th= t 'vehicle_road_taxes.amount'

  %tbody
    - @next_month_road_tax.each do |vehicle_road_tax|
      %tr
        %td= vehicle_road_tax.vehicle.reg_no
        %td= check_kin {l(vehicle_road_tax.start_on)}
        %td= check_kin {l(vehicle_road_tax.end_on)} 
        %td= ringgols(vehicle_road_tax.amount)


