.navbar
  %ul.nav
    %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

%h2 
  = t 'report.road_tax_listing'
  
%table.table.table-bordered
  %thead
    %tr
      %th= t 'vehicle.vehicle_id'
      %th= t 'vehicle_road_taxes.start_on' 
      %th= t 'vehicle_road_taxes.end_on' 
      %th= t 'vehicle_road_taxes.amount'

  %tbody
    - @report_roadtax.each do |vehicle_road_tax|
      %tr
        %td= vehicle_road_tax.vehicle.reg_no
        %td= check_kin {l(vehicle_road_tax.start_on)}
        %td= check_kin {l(vehicle_road_tax.end_on)}
        %td= ringgols(vehicle_road_tax.amount)


