
%h1 Editing vehicle_status


= form_for @vehicle_status do |f|
  %div#vehicle_status_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :short_name
  %td= f.text_field :description
  %td= f.submit
= link_to 'Show', @vehicle_status
|
\#{link_to 'Back', vehicle_statuses_path}