<h1>Listing vehicle_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_statuses.each do |vehicle_status| %>
      <tr>
        <td><%= vehicle_status.short_name %></td>
        <td><%= vehicle_status.description %></td>
        <td><%= link_to 'Show', vehicle_status %></td>
        <td><%= link_to 'Edit', edit_vehicle_status_path(vehicle_status) %></td>
        <td><%= link_to 'Destroy', vehicle_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle status', new_vehicle_status_path %>
