- provide(:title, 'External Issueds')
- model_class = ExternalIssued
.page-header
  %h1= t 'external_issueds.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      /%li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_external_issued_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.text_field :unit_fuel_id_cont, class: "input-medium search-query", placeholder: "Unit Contains" 
        = f.text_field :source_cont, class: "input-medium search-query", placeholder: "Issued to Contains" 
        = f.submit "Search", class: "btn btn-warning"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'external_issueds.unit_fuel_id'
      %th= sort_link @search, :fuel_type_id, t('external_issueds.fuel_type_id')
      %th= t 'external_issueds.quantity'
      %th= t 'external_issueds.unit_type_id'
      %th= sort_link @search, :source, t('external_issueds.source')
      %th
  %tbody
    - @external_issueds.each do |external_issued|
      %tr
        %td= check_kin {external_issued.unit_fuel.month_unit}
        %td= check_kin {external_issued.fuel_type.name}
        %td= external_issued.quantity.to_i
        %td= check_kin {external_issued.unit_type.description}
        %td= check_kin {external_issued.resource.name}
        %td
        = render :partial => 'action_menu', :locals => { :external_issued => external_issued }
      
      



