.container{:style => "padding-left: 60px;"}
  = form_for @vehicle_card, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label :vehicle_id, :class => 'control-label'
      .controls= f.collection_select :vehicle_id, Vehicle.find(:all, :order => 'reg_no'), :id, :reg_no, :include_blank => (t 'helpers.prompt.select_vehicle'), :html_options => {:class => 'selectpicker'}
	  
    .control-group
      = f.label :staff_id, :class => 'control-label'
      .controls= f.collection_select :staff_id, Staff.find(:all, :order => 'id_no'), :id, :staff_details, :include_blank => (t 'helpers.prompt.select_staff'), :html_options => {:class => 'selectpicker'}
		
    .control-group
      = f.label :unit_id, :class => 'control-label'
      .controls= f.collection_select :unit_id, Unit.all, :id, :name, :include_blank => (t 'helpers.prompt.select_unit'), :html_options => {:class => 'selectpicker'}
  
    .control-group
      = f.label :serial_no, :class => 'control-label'
      .controls= f.text_field :serial_no, :class => 'text_field'

    .control-group
      = f.label :issue_date, :class => 'control-label'
      .controls= f.text_field :issue_date, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'
	  	  
    .control-group
      = f.label :start_date, :class => 'control-label'
      .controls= f.text_field :start_date, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'
	  	  
    .control-group
      = f.label :expired_date, :class => 'control-label'
      .controls= f.text_field :expired_date, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_after'

    .control-group
      = f.label :smart_tag, :class => 'control-label'
      .controls= f.check_box :smart_tag, :class => 'checkbox_field'
	  
    .control-group
      = f.label :smarttag_serial, :class => 'control-label'
      .controls= f.text_field :smarttag_serial, :class => 'text_field'
	  
    .form-actions
      = f.submit t("helpers.links.submit"), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicle_cards_path, :class => 'btn'     
