- provide(:title, 'Vehicles Card')
- model_class = VehicleCard
.page-header
  %h1= t 'vehicle_cards.title', :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_vehicle_card_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to content_tag(:i, " Print", class: 'fa fa-print'), '#', :onclick => "window.print();return false;"

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :work_order_no_cont, "Unit Contains :"
        = f.text_field :unit_name_cont, class: "input-medium search-query"
        = f.label :vehicle_reg_no_cont, "Registration No :"
        = f.text_field :vehicle_reg_no_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= sort_link @search, :vehicle_reg_no, t('vehicle.vehicle_id')
      %th= t 'vehicle_cards.staff_id'
      %th= sort_link @search, :unit_id, t('vehicle_cards.unit_id')
      %th= t 'vehicle_cards.serial_no'
      %th= sort_link @search, :expired_date, t('vehicle_cards.expired_date')
      %th= t 'vehicle_cards.smarttag_serial'
      %th.action_menu_td
  %tbody
    - @vehicle_cards.each do |vehicle_card| 
      %tr
        %td= vehicle_card.try(:vehicle).try(:reg_no)
        %td= vehicle_card.try(:card_holder).try(:staff_details)
        %td= vehicle_card.try(:unit).try(:name)
        %td= vehicle_card.serial_no
        %td= vehicle_card.expired_date.try(:strftime, '%d-%b-%Y')
        %td= vehicle_card.smarttag_serial
        = render :partial => 'action_menu', :locals => { :vehicle_card => vehicle_card }



