<h1>Listing vehicle_cards</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Serial no</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_cards.each do |vehicle_card| %>
      <tr>
        <td><%= vehicle_card.vehicle_id %></td>
        <td><%= vehicle_card.serial_no %></td>
        <td><%= link_to 'Show', vehicle_card %></td>
        <td><%= link_to 'Edit', edit_vehicle_card_path(vehicle_card) %></td>
        <td><%= link_to 'Destroy', vehicle_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle card', new_vehicle_card_path %>
