- provide(:title, 'Vehicles Card')
- model_class = VehicleCard
.page-header
  %h1= t 'vehicle_cards.title', :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_vehicle_card_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'vehicle.vehicle_id'
      %th= t 'vehicle_cards.staff_id'
      %th= t 'vehicle_cards.unit_id'
      %th= t 'vehicle_cards.serial_no'
      %th= t 'vehicle_cards.expired_date'
      %th= t 'vehicle_cards.smarttag_serial'
      %th
  %tbody
    - @vehicle_cards.each do |vehicle_card| 
      %tr
        %td= check_kin {vehicle_card.vehicle.reg_no}
        %td= vehicle_card.card_holder.staff_details
        %td= check_kin {vehicle_card.unit.name}
        %td= vehicle_card.serial_no
        %td= l(vehicle_card.expired_date)
        %td= vehicle_card.smarttag_serial
        = render :partial => 'action_menu', :locals => { :vehicle_card => vehicle_card }



