<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_card.vehicle_id %>
</p>

<p>
  <strong>Serial no:</strong>
  <%= @vehicle_card.serial_no %>
</p>

<%= link_to 'Edit', edit_vehicle_card_path(@vehicle_card) %> |
<%= link_to 'Back', vehicle_cards_path %>
