- provide(:title, 'Contract')
- model_class = Contract
.page-header
  %h1= t 'contracts.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_contract_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
      
.row{style: "font-weight:bold;"}
  .span3
    = t 'contracts.contract_no'
    %br
    = t 'contracts.name'
    %br
    = t 'contracts.description'
    %br
    =t 'contracts.value'
  .span3=t 'contracts.company_id'
  .span1=t 'contracts.starts_on'
  .span1=t 'contracts.ends_on'
  .span1=t 'contracts.issued_by'
  .span1=t 'contracts.contract_type' 
  .span1
- @contracts.each do |contract|
  .row{style: "padding-top:15px;"}
    .span3{style: "font-weight:bold;"}= contract.contract_no
    .span3= contract.contractor.try(:name)
    .span1= contract.starts_on
    .span1= contract.ends_on
    .span1= contract.issued_by
    .span1= contract.type.try(:short_name)
    .span1
      = render :partial => 'action_menu', :locals => { :contract => contract }
  .row
    .span6= contract.name
  .row
    .span8= contract.description
  .row
    .span6{style: "font-weight:bold;"}= ringgols(contract.value)
      
      
