<h1>Listing contracts</h1>

<table>
  <thead>
    <tr>
      <th>Contract no</th>
      <th>Name</th>
      <th>Description</th>
      <th>Company</th>
      <th>Value</th>
      <th>Starts on</th>
      <th>Ends on</th>
      <th>Issued by</th>
      <th>Contract type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.contract_no %></td>
        <td><%= contract.name %></td>
        <td><%= contract.description %></td>
        <td><%= contract.company_id %></td>
        <td><%= contract.value %></td>
        <td><%= contract.starts_on %></td>
        <td><%= contract.ends_on %></td>
        <td><%= contract.issued_by %></td>
        <td><%= contract.contract_type %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
