%h2 Listing of maintenance contract 
%table.table.table-bordered
  %thead
    %tr
      %th= t 'contracts.contract_no'
      %th= t 'contracts.name' 
      %th= t 'contracts.description' 
      %th= t 'contracts.value'
      %th= t 'contracts.company_id'
      %th= t 'contracts.starts_on'
      %th= t 'contracts.ends_on'
      %th= t 'contracts.issued_by'
      %th= t 'contracts.contract_type'


  %tbody
    - @contracts.each do |contract|
      %tr
        %td= contract.contract_no
        %td= contract.name 
        %td= contract.description
        %td= ringgols(contract.value)
        %td= contract.contractor.try(:name)
        %td= contract.starts_on
        %td= contract.ends_on
        %td= contract.issued_by
        %td= contract.type.try(:short_name)



