<p id="notice"><%= notice %></p>

<p>
  <strong>Contract no:</strong>
  <%= @contract.contract_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contract.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contract.company_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @contract.value %>
</p>

<p>
  <strong>Starts on:</strong>
  <%= @contract.starts_on %>
</p>

<p>
  <strong>Ends on:</strong>
  <%= @contract.ends_on %>
</p>

<p>
  <strong>Issued by:</strong>
  <%= @contract.issued_by %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @contract.contract_type %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
