.container{:style => "padding-left: 60px;"}
  = form_for @inden_usage, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
	
    .control-group
      = f.label :inden_card_serial, :class => 'control-label'		
      .controls= f.collection_select :inden_card_id, IndenCard.all, :id, :serial_no, :include_blank => t('helpers.prompt.select_inden_card'), :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :petrol_ltr, :class => 'control-label'
      .controls= f.text_field :petrol_ltr, :class => 'text_field input-medium', :type => :text

    .control-group
      = f.label :petrol_price, :class => 'control-label'
      .controls= f.text_field :petrol_price, :class => 'text_field input-medium', :type => :text

    .control-group
      = f.label :diesel_ltr, :class => 'control-label'
      .controls= f.text_field :diesel_ltr, :class => 'text_field input-medium', :type => :text

    .control-group
      = f.label :diesel_price, :class => 'control-label'
      .controls= f.text_field :diesel_price, :class => 'text_field input-medium', :type => :text
				    
    .control-group
      = f.label :issue_date, :class => 'control-label'
      .controls= f.text_field :issue_date, :class => 'text_field', :type => :text, 'data-behaviour' => 'datepicker_before'

    %br
    = t 'inden_usages.issued_monthly'
    %br
		  				
    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        inden_usages_path, :class => 'btn'     