- provide(:title, 'Inden Usages')
- model_class = IndenUsage
.page-header
  %h1= t 'inden_usages.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_inden_usage_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'inden_usages.inden_card_serial'
      %th= t 'inden_cards.card_holder'
      %th= t 'inden_usages.petrol_ltr'
      %th= t 'inden_usages.petrol_price'
      %th= t 'inden_usages.diesel_ltr'
      %th= t 'inden_usages.diesel_price'
      %th= t 'inden_usages.issue_date2'
      %th 
  %tbody
    - @inden_usages.each do |inden_usage|
      %tr
        %td= inden_usage.inden_card.serial_no
        - if inden_usage.inden_card.ru_staff == true
          %td= check_kin {inden_usage.inden_card.staff.staff_details}
          %td= check_kin {inden_usage.inden_card.staff.unit.name}
        - else
          %td= check_kin {inden_usage.inden_card.unit.name}
          %td= check_kin {inden_usage.inden_card.unit.parent.name}
        %td= inden_usage.petrol_ltr
        %td= inden_usage.petrol_price
        %td= inden_usage.diesel_ltr
        %td= inden_usage.diesel_price
        %td= check_kin {inden_usage.issue_date.strftime("%b %Y")}
        = render :partial => 'action_menu', :locals => {:inden_usage => inden_usage}
      
      


