.container{:style => "padding-left: 60px;"}
  = form_for @vehicle_no, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :vehicle_id

    %dl.dl-horizontal
      %dt
        %strong= t 'vehicles.reg_no2'
      %dd= @vehicle_no.try(:vehicle).try(:reg_no)
    %br/

    .control-group
      = f.label :vehicle_army_id, :class => 'control-label'
      .controls= f.collection_select :vehicle_army_id, VehicleArmy.find(:all, :order => 'v_army_no'), :id, :v_army_no, :include_blank => (t 'helpers.prompt.select_army_car'), :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :start_on, :class => 'control-label'
      .controls
        #datepicker.input-daterange
          = f.text_field :start_on, :class => 'text_field input-medium', :type => :text
          %span.add-on{:style => "height:30px;"}= t 'helpers.label.vehicle_road_tax.to'
          = f.text_field :end_on, :class => 'text_field input-medium', :type => :text

    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicle_nos_path, :class => 'btn'
