- provide(:title, 'Add Fuels')
- model_class = AddFuel
.page-header
  %h1= t 'add_fuels.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      /%li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_add_fuel_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.text_field :unit_fuel_id_cont, class: "input-medium search-query", placeholder: "Unit Contains" 
        = f.text_field :fuel_type_id_cont, class: "input-medium search-query", placeholder: "Fuel Type Contains" 
        = f.submit "Search", class: "btn btn-warning"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'add_fuels.unit_fuel_id'
      %th= sort_link @search, :fuel_type_id, t('add_fuels.fuel_type_id')
      %th= t 'add_fuels.description'
      %th= t 'add_fuels.quantity'
      %th= t 'add_fuels.unit_type_id'
      %th
  %tbody
    - @add_fuels.each do |add_fuel|
      %tr
        %td= check_kin {add_fuel.unit_fuel.month_unit}
        %td= check_kin {add_fuel.fuel_type.name}
        %td= add_fuel.description
        %td= add_fuel.quantity.to_i
        %td= check_kin {add_fuel.unit_type.description}
        %td
        = render :partial => 'action_menu', :locals => { :add_fuel => add_fuel }
      
      



