.container{:style => "padding-left: 60px;"}
  = form_for @vehicle_assignment, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label :document_code, :class => 'control-label'
      .controls= f.text_field :document_code, :class => 'text_field'

    .control-group
      = f.label :document_date, :class => 'control-label'
      .controls= f.text_field :document_date, :class => 'text_field', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :authorised_by, :class => 'control-label'
      .controls= f.collection_select :authorised_by, Staff.order(name: :asc).all, :id, :staff_details, :include_blank => (t 'helpers.prompt.select_authoriser'), :html_options => {:class => 'selectpicker'}
    
    %br
    %p= t 'vehicle_assignments.vehicle_details'
    %hr{:style => "padding:0; margin:0;"}
    
    .form-group
      .col-lg-offset-2.col-lg-10
        = f.fields_for :vehicle_assignment_details do |builder|
          = render 'vehicle_assignment_detail_fields', f: builder
        = link_to_add_fields (t 'vehicle_assignments.add_details'), f, :vehicle_assignment_details
      
      
    

    .form-actions
      = f.submit t("helpers.links.submit"), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicle_assignments_path, :class => 'btn'     
