<%= form_for(@vehicle_assignment) do |f| %>
  <% if @vehicle_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_assignment.errors.count, "error") %> prohibited this vehicle_assignment from being saved:</h2>

      <ul>
      <% @vehicle_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :assigned_on %><br>
    <%= f.date_select :assigned_on %>
  </div>
  <div class="field">
    <%= f.label :assignment_end %><br>
    <%= f.date_select :assignment_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
