//- provide(:title, 'vehicle assignment')
- model_class = VehicleAssignment
.page-header
  %h1= t 'vehicle_assignments.title', :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_vehicle_assignment_path     
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'vehicle_assignments.document_code'
      %th= t 'vehicle_assignments.document_date'
      %th= t 'vehicle_assignments.authorised_by'
      %th

  %tbody
    - @vehicle_assignments.each do | vehicle_assignment | 
      %tr
        %td= vehicle_assignment.document_code
        %td= l(vehicle_assignment.document_date)
        %td= check_kin {vehicle_assignment.authoriser.name}
        %td
        = render :partial => 'action_menu', :locals => { :vehicle_assignment => vehicle_assignment }



