- provide(:title, 'vehicle assignment')
- model_class = VehicleAssignment
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: "New Vehicle Assignment")), new_vehicle_assignment_path     
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Document
      %th Date
      %th Authorised
      %th

  %tbody
    - @vehicle_assignments.each do | vehicle_assignment | 
      %tr
        %td= vehicle_assignment.document_code 
        %td= vehicle_assignment.document_date 
        %td= vehicle_assignment.authorised_by
        = render :partial => 'action_menu', :locals => { :vehicle_assignment => vehicle_assignment }



