= form_for @vehicle_fine_type, remote: true do |f|
  %div#vehicle_fine_type_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :short_name
  %td= f.text_field :description
  %td= f.submit "Create", :class => 'btn btn-primary'
