
%h1 Editing vehicle fine type


= form_for @vehicle_fine_type do |f|
  %div#vehicle_fine_type_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :short_name
  %td= f.text_field :description
  %td= f.submit
= link_to 'Show', @vehicle_fine_type
|
\#{link_to 'Back', vehicle_fine_types_path}