<h1>Listing vehicle_fine_types</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_fine_types.each do |vehicle_fine_type| %>
      <tr>
        <td><%= vehicle_fine_type.short_name %></td>
        <td><%= vehicle_fine_type.description %></td>
        <td><%= link_to 'Show', vehicle_fine_type %></td>
        <td><%= link_to 'Edit', edit_vehicle_fine_type_path(vehicle_fine_type) %></td>
        <td><%= link_to 'Destroy', vehicle_fine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle fine type', new_vehicle_fine_type_path %>
