- provide(:title, 'Vehicles fine type')
- model_class = VehicleFineType
.page-header
  %h1= t 'vehicle_fine_types.title', :default => model_class.model_name.human.pluralize
  %p#notice= notice
      
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_vehicle_fine_type_path, id: "add_new_fine_type", remote: true
    %ul.nav.pull-right
      //%li#toga= link_to content_tag(:li, fa_icon("search", text: "Search")), "#"
      //%li= link_to content_tag(:li, fa_icon("print", text: "Print")), "#"
      
%table.table.table-condensed.table-hover#vehicle_fine_type_list{:style => "width:60%;"}
  %thead
    %tr
      %th= t 'vehicle_fine_types.short_name'
      %th= t 'vehicle_fine_types.description'
      %th
  %tbody
    %tr#vehicle_fine_type_form(style="display:none;")
      = render :partial => 'form'
    - @vehicle_fine_types.each do |vehicle_fine_type|
      %tr{:id => "tr_#{vehicle_fine_type.id}"}
        %td= vehicle_fine_type.short_name
        %td= vehicle_fine_type.description
        %td= link_to (fa_icon "trash-o"), vehicle_fine_type, method: :delete, data: { confirm: 'Are you sure?' }, remote: true



