.container{:style => "padding-left: 60px;"}
  = form_for @unit_fuel, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :unit_id, :class => 'control-label'
      .controls= f.collection_select :unit_id, Unit.all.order(:name), :id, :name, :include_blank => t('helpers.prompt.select_unit'), :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :issue_date, :class => 'control-label'
      .controls= f.text_field :issue_date, :class => 'text_field', :type => :text, 'data-behaviour' => 'datepicker_before'

    %br
 
    %ul.nav.nav-tabs
      %li.active= link_to t('unit_fuels.diesel_usage'),  '#tab1', data: {toggle: 'tab'}
      %li= link_to t('unit_fuels.petrol_usage'),  '#tab2', data: {toggle: 'tab'}
      %li= link_to t('unit_fuels.other_usage'),  '#tab3', data: {toggle: 'tab'}
 
    #myTabContent.tab-content	
      #tab1.tab-pane.active
        %br
        .control-group
          = f.label :d_vessel, :class => 'control-label'
          .controls= f.text_field :d_vessel, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')
		  
        .control-group
          = f.label :d_vehicle, :class => 'control-label'
          .controls= f.text_field :d_vehicle, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')
		  
        .control-group
          = f.label :d_misctool, :class => 'control-label'
          .controls= f.text_field :d_misctool, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')
		  
        .control-group
          = f.label :d_boat, :class => 'control-label'
          .controls= f.text_field :d_boat, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')

						  
      #tab2.tab-pane
        %br
        .control-group
          = f.label :p_vehicle, :class => 'control-label'
          .controls= f.text_field :p_vehicle, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')

        .control-group
          = f.label :p_misctool, :class => 'control-label'
          .controls= f.text_field :p_misctool, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')

        .control-group
          = f.label :p_boat, :class => 'control-label'
          .controls= f.text_field :p_boat, :class => 'text_field input-medium', :type => :text, :placeholder => (t 'unit_fuels.quantity_ltr')


      #tab3.tab-pane
        .row
          .span8
            %font{:size => "-1"}
              =t 'helpers.prompt.other_fuel'
        .form-group
          .col-lg-offset-2.col-lg-10
            = f.fields_for :add_fuels do |builder|
              = render 'add_fuel_fields', f: builder
            = link_to_add_fields (t 'add_fuels.add_details'), f, :add_fuels
				
    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        unit_fuels_path, :class => 'btn'     

