.navbar
  %ul.nav
    %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- provide(:title, 'UnitFuel')
- model_class = UnitFuel
.page-header
  %h1= t 'menu.annual_usage_report', :default => model_class.model_name.human



=t 'report.annual_diesel_usage'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'unit_fuels.unit_id'  
      %th= t 'unit_fuels.issue_date'
      %th= t 'unit_fuels.d_vessel'
      %th= t 'unit_fuels.d_vehicle'
      %th= t 'unit_fuels.d_misctool'
      %th= t 'unit_fuels.d_boat'
      %th= t 'unit_fuels.diesel_usage'

  %tbody
    - @year_annual_usage_report.each do |unit_fuel|
      %tr
        %td= check_kin {unit_fuel.unit.name}
        %td= check_kin {l(unit_fuel.issue_date)}
        %td= unit_fuel.d_vessel
        %td= unit_fuel.d_vehicle
        %td= unit_fuel.d_misctool
        %td= unit_fuel.d_boat
        %td= UnitFuel.diesel_usage(unit_fuel)
    %tr
      %td= t 'unit_fuels.total'
      %td= t 'unit_fuels.sum'
      %td= UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_vessel)
      %td= UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_vehicle)
      %td= UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_misctool)
      %td= UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_boat)
      %td= UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_vessel) + UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_vehicle) + UnitFuel.where( "issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_misctool) + UnitFuel.where("issue_date >= ? AND issue_date <= ? ", @sdate, @edate ).sum(:d_boat)

=t 'report.annual_petrol_usage'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'unit_fuels.unit_id'  
      %th= t 'unit_fuels.issue_date'
      %th= t 'unit_fuels.p_vehicle'
      %th= t 'unit_fuels.p_misctool'
      %th= t 'unit_fuels.p_boat'
      %th= t 'unit_fuels.petrol_usage'

  %tbody
    - @year_annual_usage_report.each do |unit_fuel|
      %tr
        %td= check_kin {unit_fuel.unit.name}
        %td= check_kin {l(unit_fuel.issue_date)}  
        %td= unit_fuel.p_vehicle
        %td= unit_fuel.p_misctool
        %td= unit_fuel.p_boat
        %td= UnitFuel.petrol_usage(unit_fuel)

    %tr
      %td= t 'unit_fuels.total'
      %td= t 'unit_fuels.sum'
      %td= UnitFuel.where('issue_date >=? AND issue_date <=?', @sdate, @edate).sum(:p_vehicle)
      %td= UnitFuel.where('issue_date >=? AND issue_date <=?', @sdate, @edate).sum(:p_misctool)
      %td= UnitFuel.where('issue_date >=? AND issue_date <=?', @sdate, @edate).sum(:p_boat)
      %td= UnitFuel.where('issue_date >=? AND issue_date <=?', @sdate, @edate).sum(:p_vehicle) + UnitFuel.where('issue_date >=? AND issue_date <=?', @sdate, @edate).sum(:p_misctool) + UnitFuel.where('issue_date >=? AND issue_date <=?', @sdate, @edate).sum(:p_boat)


= t 'report.annual_other_type_usage'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'add_fuels.unit_fuel_id'
      %th= t 'unit_fuels.fuel_type_id'
      %th= t 'unit_fuels.description'
      %th= t 'unit_fuels.quantity'
      %th= t 'unit_fuels.unit_type_id'

  %tbody
    - @year_other_fuel.each do |add_fuel|
      %tr
        %td= check_kin {add_fuel.unit_fuel.month_unit}
        %td= check_kin {add_fuel.fuel_type.name}
        %td= add_fuel.description
        %td= add_fuel.quantity.to_i
        %td= check_kin {add_fuel.unit_type.description}
    %tr
      %td= "-"
      %td= "-"
      %td= t 'unit_fuels.total'
      %td= AddFuel.where('created_at >=? AND created_at <=?', @sdate, @edate).sum(:quantity)
      %td= "-"

= t 'report.annual_external_supplied'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'add_fuels.unit_fuel_id'
      %th= t 'external_supplieds.fuel_type_id'
      %th= t 'external_supplieds.quantity'
      %th= t 'external_supplieds.unit_type_id'
      %th= t 'external_supplieds.source'

  %tbody
    - @year_external_supply.each do |external_supplied|
      %tr
        %td= check_kin {external_supplied.unit_fuel.month_unit}
        %td= check_kin {external_supplied.fuel_type.name}
        %td= external_supplied.quantity.to_i
        %td= check_kin {external_supplied.unit_type.description}
        %td= check_kin {external_supplied.resource.name}
    %tr
      %td= "-"
      %td= t 'unit_fuels.total'
      %td= ExternalSupplied.where('created_at >=? AND created_at <=?', @sdate, @edate).sum(:quantity)
      %td= "-"
      %td= "-"
 
= t 'report.annual_external_issued'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'add_fuels.unit_fuel_id'
      %th= t 'external_supplieds.fuel_type_id'
      %th= t 'external_supplieds.quantity'
      %th= t 'external_supplieds.unit_type_id'
      %th= t 'external_supplieds.source'

  %tbody
    - @year_external_issue.each do |external_issued|
      %tr
        %td= check_kin {external_issued.unit_fuel.month_unit}
        %td= check_kin {external_issued.fuel_type.name}
        %td= external_issued.quantity.to_i
        %td= check_kin {external_issued.unit_type.description}
        %td= check_kin {external_issued.resource.name}
    %tr
      %td= "-"
      %td= t 'unit_fuels.total'
      %td= ExternalSupplied.where('created_at >=? AND created_at <=?', @sdate, @edate).sum(:quantity)
      %td= "-"
      %td= "-"

%table.table.table-condensed.table-hover
  - @unit_fuels.group_by(&:unit_id).each do |unit_id, unit_fuels, add_fuels|
    %thead
      %tr
        %th= unit_id
        %td{colspan: "4", style: "font-size:0.8em; padding-top:25px;"}
          = t 'report.total_petrol'
          \:
          = UnitFuel.where('unit_id =?', unit_id ).sum(:p_vehicle) + UnitFuel.where('unit_id =?', unit_id ).sum(:p_boat) + UnitFuel.where('unit_id =?', unit_id ).sum(:p_misctool)
          ltr
          &nbsp; | &nbsp
          = t 'report.total_diesel' 
          \:
          = UnitFuel.where('unit_id =?', unit_id ).sum(:d_vessel) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_vehicle) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_misctool) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_boat)
          ltr
          &nbsp; | &nbsp
          = t 'report.total_other_fuel_type' 
          \:
          = AddFuel.where('unit_fuel_id =? AND created_at >=? AND created_at <=?', unit_id, @sdate, @edate).sum(:quantity)
          &nbsp; | &nbsp
          = t 'report.total_external_supplied' 
          \:
          = ExternalSupplied.where('unit_fuel_id =? AND created_at >=? AND created_at <=?', unit_id, @sdate, @edate).sum(:quantity)
          &nbsp; | &nbsp
          = t 'report.total_external_issued' 
          \:
          = ExternalIssued.where('unit_fuel_id =? AND created_at >=? AND created_at <=?', unit_id, @sdate, @edate).sum(:quantity)
      %tr
        %th= t 'unit_fuels.unit_id'  
        %th= t 'unit_fuels.issue_date'
        %th= t 'unit_fuels.petrol_usage'
        %th= t 'unit_fuels.diesel_usage'
        %th
    - for unit_fuel, add_fuel in unit_fuels
      %tbody
        %tr
          %td= check_kin {unit_fuel.unit.name}
          %td= check_kin {l(unit_fuel.issue_date)} 
          %td= UnitFuel.petrol_usage(unit_fuel)
          %td= UnitFuel.diesel_usage(unit_fuel)

         




