- provide(:title, 'UnitFuel')
- model_class = UnitFuel
.page-header

  %h1= t 'report.unit_fuel_graph', :default => model_class.model_name.human

  //%h1= t 'menu.fuel_usage_report', :default => model_class.model_name.human



  = javascript_include_tag "//www.google.com/jsapi", "chartkick"
  = t 'report.diesel_vessel_usage'
  = line_chart UnitFuel.group("issue_date").sum(:d_vessel)
  = t 'report.diesel_vehicle_usage'
  = line_chart UnitFuel.group("issue_date").sum(:d_vehicle)
  = t 'report.diesel_misctool_usage'
  = line_chart UnitFuel.group("issue_date").sum(:d_misctool)
  = t 'report.diesel_boat_usage'
  = line_chart UnitFuel.group("issue_date").sum(:d_boat)
  = t 'report.petrol_vehicle_usage'
  = line_chart UnitFuel.group("issue_date").sum(:p_vehicle)
  = t 'report.petrol_misctool_usage'
  = line_chart UnitFuel.group("issue_date").sum(:p_misctool)
  = t 'report.petrol_boat_usage'
  = line_chart UnitFuel.group("issue_date").sum(:p_boat)


  = t 'report.diesel_usage_current'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'unit_fuels.unit_id'  
      %th= t 'unit_fuels.issue_date'
      %th= t 'unit_fuels.d_vessel'
      %th= t 'unit_fuels.d_vehicle'
      %th= t 'unit_fuels.d_misctool'
      %th= t 'unit_fuels.d_boat'
      %th= t 'unit_fuels.diesel_usage'

  %tbody
    - @month_fuel_usage.each do |unit_fuel|
      %tr
        %td= check_kin {unit_fuel.unit.name}
        %td= check_kin {l(unit_fuel.issue_date)}
        %td= unit_fuel.d_vessel
        %td= unit_fuel.d_vehicle
        %td= unit_fuel.d_misctool
        %td= unit_fuel.d_boat
        %td= UnitFuel.diesel_usage(unit_fuel)
%br
  = t 'report.petrol_usage_current'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'unit_fuels.unit_id'  
      %th= t 'unit_fuels.issue_date'
      %th= t 'unit_fuels.d_vehicle'
      %th= t 'unit_fuels.d_misctool'
      %th= t 'unit_fuels.d_boat'
      %th= t 'unit_fuels.petrol_usage'

  %tbody
    - @month_fuel_usage.each do |unit_fuel|
      %tr
        %td= check_kin {unit_fuel.unit.name}
        %td= check_kin {l(unit_fuel.issue_date)}  
        %td= unit_fuel.p_vehicle
        %td= unit_fuel.p_misctool
        %td= unit_fuel.p_boat
        %td= UnitFuel.diesel_usage(unit_fuel)


