= form_for @fuel_type, remote: true do |f|
  %div#fuel_type_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :shortname
  %td= f.text_field :name
  %td= f.submit (t 'actions.create'), :class => 'btn btn-primary'
