- provide(:title, 'Fuel Type')
- model_class = FuelType
.page-header
  %h1= t 'fuel_types.title', :default => model_class.model_name.human.pluralize
      
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_fuel_type_path, id: "add_new_type", remote: true
    %ul.nav.pull-right
      //%li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      //%li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
%table.table.table-condensed.table-hover#fuel_type_list{:style => "width:60%;"}
  %thead
    %tr
      %th= t 'fuel_types.shortname'
      %th= t 'fuel_types.name'
      %th
  %tbody
    %tr#fuel_type_form(style="display:none;")
      = render :partial => 'form'
    - @fuel_types.each do |fuel_type|
      %tr{:id => "tr_#{fuel_type.id}"}
        %td= fuel_type.shortname
        %td= fuel_type.name
        %td= link_to (fa_icon "trash-o"), fuel_type, method: :delete, data: { confirm: 'Are you sure?' }, remote: true



