= form_for @rank, remote: true do |f|
  %div#rank_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :shortname
  %td= f.text_field :name
  %td= f.select :category, Rank::CATEGORY, :prompt => (t 'helpers.prompt.select_rank_category')
  %td= f.select :rate, Rank::RATE, :prompt => (t 'helpers.prompt.select_rank_rate')
  %td= f.submit (t 'actions.create'), :class => 'btn btn-primary'
