.container{:style => "padding-left: 60px;"}
  = form_for @vehicle_fine, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :vehicle_id
 
    %dl.dl-horizontal
      %dt
        %strong Registration No :
      %dd
        = h @vehicle_fine.vehicle.reg_no
    %br/

    .control-group
      = f.label :code, :class => 'control-label'
      .controls= f.text_field :code, :class => 'text_field mandatory'

    .control-group
      = f.label :type_id, :class => 'control-label'
      .controls= f.collection_select :type_id, VehicleFineType.order(short_name: :asc).all, :id, :short_name, :include_blank => 'Select Category', :html_options => {:class => 'selectpicker mandatory'}
     
    .control-group
      = f.label :issued_at, :class => 'control-label'
      .controls
        #datetimepicker1.input-append.date
          = f.text_field :issued_at, :class => 'text_field mandatory', "data-format" => "yyyy/MM/dd hh:mm", :type => "text"
          %span.add-on{:style => "height:30px;"}
            %i{"data-date-icon" => "fa fa-calendar-o", "data-time-icon" => "fa fa-clock-o", :style => "padding-top:2px;"}

    .control-group
      = f.label :pay_before, :class => 'control-label'
      .controls= f.text_field :pay_before, :class => 'text_field input-medium mandatory', :type => :text, 'data-behaviour' => 'datepicker_after'

    .control-group
      = f.label :location, :class => 'control-label'
      .controls= f.text_field :location, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :reason, :class => 'control-label'
      .controls= f.text_field :reason, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :compound, :class => 'control-label'
      .controls
        .input-prepend
          %span.add-on{:style => "height:30px;"} RM &nbsp;
          = f.text_field :compound, :class => "span2 input-small mandatory", :id => "prependedInput", :type => "text"

    .control-group
      = f.label :receipt_no, :class => 'control-label'
      .controls= f.text_field :receipt_no, :class => 'text_field'

    .control-group
      = f.label :paid_on, :class => 'control-label'
      .controls= f.text_field :paid_on, :class => 'text_field input-small', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :paid_amount, :class => 'control-label'
      .controls
        .input-prepend
          %span.add-on{:style => "height:30px;"} RM &nbsp;
          = f.text_field :paid_amount, :class => "span2 input-small", :id => "prependedInput", :type => "text"

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicle_fines_path, :class => 'btn'     
