<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">

    <Table>
    	<Row>
    		<Cell><Data ss:Type="String">Code</Data></Cell>
    		<Cell><Data ss:Type="String">Reg No</Data></Cell>
    		<Cell><Data ss:Type="String">Type</Data></Cell>
    		<Cell><Data ss:Type="String">Issued At</Data></Cell>
    		<Cell><Data ss:Type="String">Pay Before</Data></Cell>
    		<Cell><Data ss:Type="String">Location</Data></Cell>
    		<Cell><Data ss:Type="String">Reason</Data></Cell>
    		<Cell><Data ss:Type="String">Compound</Data></Cell>
    		<Cell><Data ss:Type="String">Receipt No</Data></Cell>
    		<Cell><Data ss:Type="String">Paid On</Data></Cell>
    		<Cell><Data ss:Type="String">Paid Amount</Data></Cell>
    	</Row>
	
  	  <% @vehicle_fines.each do |vehicle_fine|  %>
  		<Row>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.code %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.vehicle.try(:reg_no) %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.vehicle_fine_type.try(:short_name) %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.issued_at.try(:strftime, "%Y-%b-%d")%></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.pay_before.try(:strftime, "%Y-%b-%d") %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.location %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.reason %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= ringgols(vehicle_fine.compound) %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.receipt_no %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= vehicle_fine.paid_on.try(:strftime, "%Y-%b-%d") %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= ringgols(vehicle_fine.paid_amount) %></Data></Cell>
  		</Row>
  		<% end %>
  	</Table>
	</Worksheet>
</Workbook>
