<h1>Listing vehicle_fines</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Vehicle</th>
      <th>Type</th>
      <th>Issued at</th>
      <th>Pay before</th>
      <th>Location</th>
      <th>Reason</th>
      <th>Compound</th>
      <th>Receipt no</th>
      <th>Paid on</th>
      <th>Paid amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_fines.each do |vehicle_fine| %>
      <tr>
        <td><%= vehicle_fine.code %></td>
        <td><%= vehicle_fine.vehicle_id %></td>
        <td><%= vehicle_fine.type_id %></td>
        <td><%= vehicle_fine.issued_at %></td>
        <td><%= vehicle_fine.pay_before %></td>
        <td><%= vehicle_fine.location %></td>
        <td><%= vehicle_fine.reason %></td>
        <td><%= vehicle_fine.compound %></td>
        <td><%= vehicle_fine.receipt_no %></td>
        <td><%= vehicle_fine.paid_on %></td>
        <td><%= vehicle_fine.paid_amount %></td>
        <td><%= link_to 'Show', vehicle_fine %></td>
        <td><%= link_to 'Edit', edit_vehicle_fine_path(vehicle_fine) %></td>
        <td><%= link_to 'Destroy', vehicle_fine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle fine', new_vehicle_fine_path %>
