//- provide(:title, 'Vehicles Fines')
- model_class = VehicleFine
.page-header
  %h1= t 'vehicle_fines.title', :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.import_excel'))), import_excel_vehicle_fine_path
    %ul.nav
      //%li= link_to "CSV", vehicles_path(format: "csv") |
      %li= link_to "Export Excel", vehicle_fines_path(format: "xls")
     
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")
      
.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f| 
      .field
        = f.label :work_order_no_cont, "Code Contains"
        = f.text_field :code_cont, class: "input-medium search-query"
        = f.label :vehicle_id, "Register No :"
        = f.text_field :vehicle_reg_no_cont, class: "input-medium search-query"
        /= f.select :vehicle_id_eq, Vehicle.where(id: (VehicleFine.pluck(:vehicle_id).uniq)).collect{|c| [c.reg_no, c.id]}
        = f.submit "Search", class: "btn btn-warning"


%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= sort_link @search, :code,      t('vehicle_fines.code')
      %th= sort_link @search, :vehicle,   t('vehicle.vehicle_id')
      %th= sort_link @search, :pay_before,  t('vehicle_fines.pay_before')
      %th= sort_link @search, :issued_at, t('vehicle_fines.issued_at')
      %th= sort_link @search, :reason,    t('vehicle_fines.reason')
      %th= sort_link(@search, :compound,  t('vehicle_fines.compound'))
      %th= sort_link @search, :paid_amount, t('vehicle_fines.paid_amount')
      %th= sort_link @search, :paid_on, t('vehicle_fines.paid_on')
      %th= sort_link(@search, :payment_status,  t('vehicle_fines.payment_status'))
      %th.action_menu_td

  %tbody
    //These guys arent actually being grouped
    //- @vehicle_fines.group_by(&:vehicle_id).each do |vehicle, vehicle_fines| 
    - @vehicle_fines.each do |vehicle_fine|
      %tr{:class => vehicle_fine.table_status}
        %td= vehicle_fine.code 
        %td= vehicle_fine.try(:vehicle).try(:reg_no)
        %td= vehicle_fine.pay_before.try(:strftime, '%d-%b-%Y')
        %td= vehicle_fine.issued_at.try(:strftime, '%d-%b-%Y %H:%M')
        %td= vehicle_fine.reason.titleize
        %td= ringgols(vehicle_fine.compound)
        %td= ringgols(vehicle_fine.paid_amount)
        %td= vehicle_fine.paid_on.try(:strftime, '%d-%b-%Y')
        %td= check_kin {vehicle_fine.payment_status}
        = render :partial => 'action_menu', :locals => { :vehicle_fine => vehicle_fine }



