//- provide(:title, 'Vehicles Fines')
- model_class = VehicleFine
.page-header
  %h1= t 'vehicle_fines.title', :default => model_class.model_name.human.pluralize

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
     
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'vehicle_fines.code'
      %th= t 'vehicle.vehicle_id'
      %th= t 'vehicle_fines.pay_before' 
      %th= t 'vehicle_fines.reason'
      %th= t 'vehicle_fines.compound'
      %th= t 'vehicle_fines.paid_on'
      %th Payment Status //TRANSLATE ME
      %th

  %tbody
    - @vehicle_fines.each do |vehicle_fine| 
      %tr{:class => vehicle_fine.table_status}
        %td= vehicle_fine.code 
        %td= vehicle_fine.vehicle.reg_no
        %td= vehicle_fine.pay_before 
        %td= vehicle_fine.reason
        %td= ringgols(vehicle_fine.compound)
        %td= vehicle_fine.paid_on
        %td= vehicle_fine.payment_status
        = render :partial => 'action_menu', :locals => { :vehicle_fine => vehicle_fine }



