<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @vehicle_fine.code %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_fine.vehicle_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vehicle_fine.type_id %>
</p>

<p>
  <strong>Issued at:</strong>
  <%= @vehicle_fine.issued_at %>
</p>

<p>
  <strong>Pay before:</strong>
  <%= @vehicle_fine.pay_before %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vehicle_fine.location %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @vehicle_fine.reason %>
</p>

<p>
  <strong>Compound:</strong>
  <%= @vehicle_fine.compound %>
</p>

<p>
  <strong>Receipt no:</strong>
  <%= @vehicle_fine.receipt_no %>
</p>

<p>
  <strong>Paid on:</strong>
  <%= @vehicle_fine.paid_on %>
</p>

<p>
  <strong>Paid amount:</strong>
  <%= @vehicle_fine.paid_amount %>
</p>

<%= link_to 'Edit', edit_vehicle_fine_path(@vehicle_fine) %> |
<%= link_to 'Back', vehicle_fines_path %>
