<%= form_for(@maintenance) do |f| %>
  <% if @maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
      <% @maintenance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :work_order_no %><br>
    <%= f.text_field :work_order_no %>
  </div>
  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.number_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :repaired_by %><br>
    <%= f.number_field :repaired_by %>
  </div>
  <div class="field">
    <%= f.label :supplied_by %><br>
    <%= f.number_field :supplied_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
