.container{:style => "padding-left: 60px;"}
  = form_for @maintenance, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
    = f.hidden_field :vehicle_id

    %dl.dl-horizontal
      %dt
        %strong= t 'vehicles.reg_no'
      %dd
        = h @maintenance.vehicle.reg_no
    %br/

    .control-group
      = f.label :work_order_no, :class => 'control-label'
      .controls= f.text_field :work_order_no, class: 'text_field input-xlarge mandatory'

    .control-group
      = f.label :contract_id, :class => 'control-label'
      .controls= f.collection_select :contract_id, Contract.transport_contract, :id, :contract_no, {:include_blank =>  t('helpers.prompt.select_contract')}, {:class => 'selectpicker'}

    .control-group
      = f.label :repaired_by, :class => 'control-label'
      .controls= f.collection_select :repaired_by, Company.all, :id, :name, {:include_blank =>  t('helpers.prompt.select_repaired_by')}, {:class => 'selectpicker'}

    .control-group
      = f.label :supplied_by, :class => 'control-label'
      .controls= f.collection_select :supplied_by, Company.all, :id, :name, {:include_blank =>  t('helpers.prompt.select_supplied_by')}, {:class => 'selectpicker'}

    .control-group
      = f.label :maintenance_date, :class => 'control-label'
      .controls= f.text_field :maintenance_date, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :repair_date, :class => 'control-label'
      .controls= f.text_field :repair_date, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :repair_location, :class => 'control-label'
      .controls= f.text_field :repair_location, :class => 'text_field'
	  
    %br
    %h5=t('maintenance_details.title_parts')

    .form-group
      .col-lg-offset-2.col-lg-10
        = f.fields_for :maintenance_details do |builder|
          = render 'maintenance_detail_fields', f: builder
        = link_to_add_fields (t 'fuel_supplieds.add_details'), f, :maintenance_details

    .form-actions
      = f.submit t('.submit', :default => t("helpers.links.submit")), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), maintenances_path, :class => 'btn'
