//- provide(:title, 'Maintenances')
- model_class = Maintenance
.page-header
  %h1= t 'maintenances.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      //%li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_maintenance_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'vehicle.vehicle_id'
      %th= t 'maintenances.work_order_no'  
      %th= t 'maintenances.contract_no' 
      %th= t 'maintenances.repaired_by' 
      %th= t 'maintenances.supplied_by' 
      %th
  %tbody
    - @maintenances.each do |maintenance|
      %tr
        %td= maintenance.vehicle.reg_no
        %td= maintenance.work_order_no
        %td= maintenance.contract.try(:contract_no)
        %td= maintenance.repairer.try(:name)
        %td= maintenance.supplier.try(:name)
        = render :partial => 'action_menu', :locals => { :maintenance => maintenance }
      
      
