<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
    	<Row>
    		<Cell><Data ss:Type="String">work_order_no</Data></Cell>
        <Cell><Data ss:Type="String">maintenance_date</Data></Cell>
    		<Cell><Data ss:Type="String">Reg No</Data></Cell>
    		<Cell><Data ss:Type="String">Contract No</Data></Cell>
    		<Cell><Data ss:Type="String">Maint Value</Data></Cell>
    		<Cell><Data ss:Type="String">Repaired By</Data></Cell>
    		<Cell><Data ss:Type="String">Supply Value</Data></Cell>
        <Cell><Data ss:Type="String">Supplied By</Data></Cell>
    		<Cell><Data ss:Type="String">repair_location</Data></Cell>
    	</Row>
	
	    <% @maintenances.each do |maintenance| %>
  		<Row>
  			<Cell><Data ss:Type="String"><%= maintenance.work_order_no %></Data></Cell>
        <Cell><Data ss:Type="String"><%= maintenance.maintenance_date.try(:strftime, "%Y-%b-%d") %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= maintenance.vehicle.try(:reg_no) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= maintenance.contract.try(:contract_no) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= repair_totals(maintenance.id) %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= maintenance.repairer.try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= supply_totals(maintenance.id) %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= maintenance.supplier.try(:name) %></Data></Cell>
  			<Cell><Data ss:Type="String"><%= maintenance.repair_location %></Data></Cell>
  		</Row>
  		<% end %>
	  </Table>
	</Worksheet>
</Workbook>
