<h1>Listing maintenances</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Work order no</th>
      <th>Contract</th>
      <th>Repaired by</th>
      <th>Supplied by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.vehicle_id %></td>
        <td><%= maintenance.work_order_no %></td>
        <td><%= maintenance.contract_id %></td>
        <td><%= maintenance.repaired_by %></td>
        <td><%= maintenance.supplied_by %></td>
        <td><%= link_to 'Show', maintenance %></td>
        <td><%= link_to 'Edit', edit_maintenance_path(maintenance) %></td>
        <td><%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance', new_maintenance_path %>
