%h2 Listing of maintenance 
%table.table.table-bordered
  %thead
    %tr
      %th= t 'vehicle.vehicle_id'
      %th= t 'maintenances.work_order_no'  
      %th= t 'maintenances.contract_no'  
      %th= t 'maintenances.repaired_by'
      %th= t 'maintenances.supplied_by'

  %tbody
    - @maintenances.each do |maintenance|
      %tr
        %td= maintenance.vehicle.reg_no
        %td= maintenance.work_order_no 
        %td= maintenance.contract.try(:contract_no)
        %td= maintenance.repairer.try(:name)
        %td= maintenance.supplier.try(:name)




