<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @maintenance.vehicle_id %>
</p>

<p>
  <strong>Work order no:</strong>
  <%= @maintenance.work_order_no %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @maintenance.contract_id %>
</p>

<p>
  <strong>Repaired by:</strong>
  <%= @maintenance.repaired_by %>
</p>

<p>
  <strong>Supplied by:</strong>
  <%= @maintenance.supplied_by %>
</p>

<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
