= form_for @vehicle_category, remote: true do |f|
  %div#vehicle_category_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :short_name
  %td= f.text_field :description, :class => "input-xxlarge"
  %td= f.submit "Create", :class => 'btn btn-primary'
