<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @vehicle_category.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle_category.description %>
</p>

<%= link_to 'Edit', edit_vehicle_category_path(@vehicle_category) %> |
<%= link_to 'Back', vehicle_categories_path %>
