- provide(:title, 'Maintenance Type')
- model_class = MaintenanceType
.page-header
  %h1= t 'maintenance_types.title', :default => model_class.model_name.human.pluralize
      
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_maintenance_type_path, id: "add_new_type", remote: true
    %ul.nav.pull-right
      //%li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      //%li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
%table.table.table-condensed.table-hover#maintenance_type_list{:style => "width:60%;"}
  %thead
    %tr
      %th= t 'maintenance_types.type_name'
      %th= t 'maintenance_types.description'
      %th
  %tbody
    %tr#maintenance_type_form(style="display:none;")
      = render :partial => 'form'
    - @maintenance_types.each do |maintenance_type|
      %tr{:id => "tr_#{maintenance_type.id}"}
        %td= maintenance_type.type_name
        %td= maintenance_type.description
        %td= link_to (fa_icon "trash-o"), maintenance_type, method: :delete, data: { confirm: 'Are you sure?' }, remote: true



