%fieldset
  .form-inline{role: "form"}
    = f.text_field :issue_date, :class => "add_fields_datepicker"
    = f.text_field :petrol_ltr, :class => 'text_field input-small', :placeholder => (t 'inden_usages.petrol_ltr')
    = f.text_field :petrol_price, :class => 'text_field input-small', :placeholder => (t 'inden_usages.petrol_price')
    = f.text_field :diesel_ltr, :class => 'text_field input-small', :placeholder => (t 'inden_usages.diesel_ltr')
    = f.text_field :diesel_price , :class => 'text_field input-small', :placeholder => (t 'inden_usages.diesel_price')