.container{:style => "padding-left: 60px;"}
  = form_for @fuel_tank, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :unit_id, :class => 'control-label'
      .controls= f.collection_select :unit_id, Unit.find(:all), :id, :name, :include_blank => 'Select Unit', :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :locations, :class => 'control-label'
      .controls= f.text_field :locations, :class => 'text_field'
    
    .control-group
      = f.label :capacity, :class => 'control-label'
      .controls= f.text_field :capacity, :class => 'text_field'
 
    .control-group
      = f.label :unit_type, :class => 'control-label'
      .controls= f.collection_select :unit_type, UnitType.find(:all), :id, :short_name, :include_blank => 'Select Unit Type', :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :fuel_type_id, :class => 'control-label'
      .controls= f.collection_select :fuel_type_id, FuelType.find(:all), :id, :name, :include_blank => 'Select Fuel Type', :html_options => {:class => 'selectpicker'}

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        fuel_tanks_path, :class => 'btn'     

