<h1>Listing fuel_tanks</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Locations</th>
      <th>Capacity</th>
      <th>Unit type</th>
      <th>Fuel type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fuel_tanks.each do |fuel_tank| %>
      <tr>
        <td><%= fuel_tank.unit_id %></td>
        <td><%= fuel_tank.locations %></td>
        <td><%= fuel_tank.capacity %></td>
        <td><%= fuel_tank.unit_type %></td>
        <td><%= fuel_tank.fuel_type_id %></td>
        <td><%= link_to 'Show', fuel_tank %></td>
        <td><%= link_to 'Edit', edit_fuel_tank_path(fuel_tank) %></td>
        <td><%= link_to 'Destroy', fuel_tank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fuel tank', new_fuel_tank_path %>
