- provide(:title, 'Fuel Tank')
- model_class = FuelTank
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: "New Fuel Tank")), new_fuel_tank_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: "Search")), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: "Print")), "#"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Unit
      %th Location
      %th Capacity
      %th Unit type
      %th Fuel type
      %th 

  %tbody
    - @fuel_tanks.each do |fuel_tank|
      %tr
        %td= fuel_tank.unit_id
        %td= fuel_tank.locations
        %td= fuel_tank.capacity
        %td= fuel_tank.unit_type
        %td= fuel_tank.fuel_type_id
        = render :partial => 'action_menu', :locals => { :fuel_tank => fuel_tank }
      
      
