- provide(:title, 'Fuel tank Details')
- model_class = FuelTank
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%p#notice= notice
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:unit_id) + ":"
  %dd=  @fuel_tank.unit_id
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:locations) + ":"
  %dd=  @fuel_tank.locations
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:capacity) + ":"
  %dd= @fuel_tank.capacity
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:unit_type) + ":"
  %dd= @fuel_tank.unit_type
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:fuel_type_id) + ":"
  %dd= @fuel_tank.fuel_type_id

.form-actions
  = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), fuel_tanks_path, :class => 'btn'
  = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), |
    edit_fuel_tank_path(@fuel_tank), :class => 'btn'
  = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
    fuel_tank_path(@fuel_tank),                                                                                                    |
    :method => 'delete',                                                                                                           |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
    :class => 'btn btn-danger'                                                                                                     |
