- if vehicle.current_status.short_name != "TEB"
  .btn-group.dropdown
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
      .span.caret
    %ul.dropdown-menu.pull-right.action_menu
      - if vehicle.reg_no.split("")[0].upcase!="Z"
        - if vehicle.vehicle_nos.nil? || vehicle.vehicle_nos.blank?
          %li= link_to content_tag(:li, fa_icon("certificate", text: t('vehicles.new_vehicle_no'))), new_vehicle_no_path(:vehicle_id => vehicle)
      %li= link_to content_tag(:li, fa_icon("certificate", text: t('vehicles.new_road_tax'))), new_vehicle_road_tax_path(:vehicle_id => vehicle)
      %li= link_to content_tag(:li, fa_icon("gavel", text: t('vehicles.new_summons'))), new_vehicle_fine_path(:vehicle_id => vehicle) 
      %li= link_to content_tag(:li, fa_icon("wrench", text: t('vehicles.new_maintenance'))), new_maintenance_path(:vehicle_id => vehicle)
      - if vehicle.status_id != 4
        %li= link_to content_tag(:li, fa_icon("archive", text: "TEB")), new_vehicle_end_of_life_path(:vehicle_id => vehicle)
      %li.divider
      %li= link_to content_tag(:li, fa_icon("eye", text: (t 'actions.show'))), vehicle
      %li= link_to content_tag(:li, fa_icon("pencil", text: (t 'actions.edit'))), edit_vehicle_path(vehicle)
      %li.danger= link_to content_tag(:li, fa_icon("trash-o", text: (t 'actions.delete'))), vehicle_path(vehicle), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }

- elsif vehicle.current_status.short_name == "TEB"
  = link_to content_tag(:i, fa_icon("eye", text: "")), vehicle, class: "btn btn-default"