.container{:style => "padding-left: 60px;"}
  = form_for @vehicle, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label :photo, :class => 'control-label'
      .controls= f.file_field :photo, :class => 'form-control mandatory'

    .control-group
      = f.label :reg_no, :class => 'control-label'
      .controls= f.text_field :reg_no, :class => 'text_field mandatory'

    .control-group
      = f.label :chassis_no, :class => 'control-label'
      .controls= f.text_field :chassis_no, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :engine_no, :class => 'control-label'
      .controls= f.text_field :engine_no, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :reg_on, :class => 'control-label'
      .controls= f.text_field :reg_on, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :manufacturer_year, :class => 'control-label'
      .controls= f.text_field :manufacturer_year, :discard_month => true, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_year'


    .control-group
      = f.label :manufacturer_id, :class => 'control-label'
      .controls= f.collection_select :manufacturer_id, VehicleManufacturer.find(:all), :id, :name, :include_blank => t('helpers.prompt.select_manufacturer'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :model, :class => 'control-label'
      .controls= f.text_field :model, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :category_id, :class => 'control-label'
      .controls= f.collection_select :category_id, VehicleCategory.find(:all), :id, :short_name, :include_blank => t('helpers.prompt.select_category'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :acquired_on, :class => 'control-label'
      .controls= f.text_field :acquired_on, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :price, :class => 'control-label'
      .controls
        .input-prepend
          %span.add-on{:style => "height:30px;"} RM &nbsp;
          = f.text_field :price, :class => "span2", :id => "prependedInput", :type => "text"

    .control-group
      = f.label :contract_id, :class => 'control-label'
      .controls= f.collection_select :contract_id, Contract.find(:all), :id, :contract_no, :include_blank => t('helpers.prompt.select_contract'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :status_id, :class => 'control-label'
      .controls= f.collection_select :status_id, VehicleStatus.find(:all), :id, :short_name, :include_blank => t('helpers.prompt.select_status'), :html_options => {:class => 'selectpicker'}


    .form-actions
      = f.submit t('.submit', :default => t("helpers.links.submit")), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        vehicles_path, :class => 'btn'

