%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'vehicles.reg_no'
      %th= t 'vehicles.reg_on'
      %th= t 'vehicles.manufacturer_year' 
      %th= t 'vehicles.manufacturer_id' 
      %th= t 'vehicles.model' 
      %th= t 'vehicles.category_id' 
      %th= t 'vehicles.acquired_on' 
      %th= t 'vehicles.acquired_id' 
      %th= t 'vehicles.contract_id' 
      %th= t 'vehicles.status' 
      %th
  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= vehicle.reg_no
        %td= check_kin {vehicle.reg_on.strftime("%d %b %Y")}
        %td= vehicle.manufacturer_year
        %td= check_kin {vehicle.manufacturer.name}
        %td= vehicle.model
        %td= check_kin {vehicle.vehiclecategory.short_name} 
        %td= vehicle.acquired_on
        %td= check_kin {vehicle.vehicleacquired.description} #short_name
        %td= check_kin {vehicle.contract.contract_no} 
        %td= check_kin {vehicle.vehiclestatus.short_name}
        = render :partial => 'action_menu', :locals => { :vehicle => vehicle }
