//- provide(:title, t ())
- model_class = Vehicle
.page-header
  %h1= t 'vehicles.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li.badge{style: "margin-top:10px"}= @vehicles.count
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_vehicle_path
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.import_excel'))), import_excel_path
    %ul.nav	  
      //%li= link_to "CSV", vehicles_path(format: "csv") |
      %li= link_to "Export Excel", vehicles_path(format: "xls")
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

//should really put this in a partial instead of the data.
.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :reg_no_cont, "Registration No:"
        = f.text_field :reg_no_cont, class: "input-medium search-query"
        = f.label :manufacturer_name_cont, "Manufacturer:"
        = f.text_field :manufacturer_name_cont, class: "input-medium search-query"
        = f.label :model_cont, "Model :"
        = f.text_field :model_cont, class: "input-medium search-query"
        = f.label :vehiclecategory_short_name_cont, "Category :"
        = f.text_field :vehiclecategory_short_name_cont, class: "input-medium search-query"
        %br
        %br
        = f.label :vehicleacquired_description_cont, " Acquired Type :"
        = f.text_field :vehicleacquired_description_cont, class: "input-medium search-query"
        = f.label :acquired_on_gteq, "Acquired on:"
        = f.text_field :acquired_on_gteq, class: "input-medium search-query", "data-behaviour" => "datepicker_std"
        = f.label :acquired_on_gteq, "To:"
        = f.text_field :acquired_on_gteq, class: "input-medium search-query datepicker", "data-behaviour" => "datepicker_std"
        = f.label :current_status_short_name_cont, " Status :"
        = f.text_field :current_status_short_name_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"

      
#vehicles= render 'vehicles'
      

  