.navbar
  %ul.nav
    %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- provide(:title, 'Vehicle')
- model_class = Vehicle
.page-header
  %h1= t 'menu.transport_summary', :default => model_class.model_name.human


%table.table.table-bordered
  %thead
    %tr
      %th= t 'vehicles.reg_no'
      %th= t 'units.title3'
      %th= t 'vehicle.chassis_no'
      %th= t 'vehicle.engine_no'
      %th= t 'vehicles.reg_on'
      %th= t 'vehicles.manufacturer_year' 
      %th= t 'vehicles.manufacturer_id' 
      %th= t 'vehicles.model' 
      %th= t 'vehicles.category_id' 
      %th= t 'vehicles.acquired_on' 
      %th= t 'vehicles.price' 
      %th= t 'vehicles.contract_id' 
      %th= t 'vehicles.status_id' 

  %tbody
    - with_vadetails=[]
    /Perjawatan exist
    - VehicleAssignment.all.each do |va|
      - va.vehicle_assignment_details.each do |vad|
        - if vad.id==Vehicle.find(vad.vehicle_id).vehicle_assignment_details.last.id
          - with_vadetails << vad.vehicle_id
          %tr
            %td= vad.vehicle.reg_no
            %td= va.unit_receiver.name
            %td= vad.vehicle.chassis_no
            %td= vad.vehicle.engine_no
            %td= vad.vehicle.reg_on.try(:strftime, '%d-%m-%Y')
            %td= vad.vehicle.manufacturer_year
            %td= check_kin {vad.vehicle.manufacturer.name}
            %td= vad.vehicle.model
            %td= check_kin {vad.vehicle.category.short_name} 
            %td= vad.vehicle.acquired_on.try(:strftime, '%d-%m-%Y')
            %td= ringgols(vad.vehicle.price)
            %td= check_kin {vad.vehicle.contract.contract_no} 
            %td= check_kin {vad.vehicle.current_status.short_name}
    /Perjawatan not exist
    /- @vehicles.each do |vehicle|
    - @vehicles.where.not(id: with_vadetails).each do |vehicle|
      %tr
        %td= vehicle.reg_no
        /%td= vehicle.vehicle_assignment_details.last.try(:vehicle_assignment).try(:unit_receiver).try(:name)
        %td &nbsp;
        %td= vehicle.chassis_no
        %td= vehicle.engine_no
        %td= vehicle.reg_on.try(:strftime, '%d-%m-%Y')
        %td= vehicle.manufacturer_year
        %td= check_kin {vehicle.manufacturer.name}
        %td= vehicle.model
        %td= check_kin {vehicle.category.short_name} 
        %td= vehicle.acquired_on.try(:strftime, '%d-%m-%Y')
        %td= ringgols(vehicle.price)
        %td= check_kin {vehicle.contract.contract_no} 
        %td= check_kin {vehicle.current_status.short_name}