- provide(:title, 'Vehicle Manufacturers')
- model_class = VehicleManufacturer
.page-header
  %h1= t 'vehicle_manufacturers.title', :default => model_class.model_name.human.pluralize
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_vehicle_manufacturer_path, id: "add_new_manufacturer", remote: true
  
  
%table.table.table-condensed.table-hover#vehicle_manufacturer_list{:style => "width:70%;"}
  %thead
    %tr
      %th= t 'vehicle_manufacturers.name'
      %th= t 'vehicle_manufacturers.country'
      %th
  %tbody
    %tr#vehicle_manufacturer_form(style="display:none;")
      = render :partial => 'form'
    - @vehicle_manufacturers.each do |vehicle_manufacturer|
      %tr{:id => "tr_#{vehicle_manufacturer.name}"}
        %td= vehicle_manufacturer.name
        %td= vehicle_manufacturer.country
        %td= link_to (fa_icon "trash-o"), vehicle_manufacturer, method: :delete, data: { confirm: 'Are you sure?' }, remote: true





