.mp-level
  %h2.icon.icon-world Menu
  %ul
    %li.icon.icon-left
      = link_to "Vehicles", '#'
      .mp-level
        %h2.icon Vehicles
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Vehicles", vehicles_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Maintenance", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Road Tax", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Summons", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Touch N Go", '#'
          %li.icon.icon-left
            = link_to "Drop Downs", '#'
            .mp-level
              %h2.icon Vehicles
              %a.mp-back{:href => "#"} Back
              %ul
                %li= link_to content_tag(:i, "", :class => "icon-numb") + "Manufacturers", '#'
                %li= link_to content_tag(:i, "", :class => "icon-numb") + "Categories", '#'
                %li= link_to content_tag(:i, "", :class => "icon-numb") + "Status", '#'
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Contract", '#'
      .mp-level
        %h2.icon Contract
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Contracts", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Suppliers", '#'
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Fuel", '#'
      .mp-level
        %h2.icon Fuel
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Depots", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Tanks", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Supplied", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Issued", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Fuel Types", '#'

          
        