.mp-level
  %h2.icon.icon-world Menu
  %ul
    %li.icon.icon-left
      = link_to (t 'vehicles.title'), '#'
      .mp-level
        %h2.icon= t 'vehicles.title'
        %a.mp-back{:href => "#"}= t 'helpers.links.back'
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicles.title'), vehicles_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_assignments.title'), vehicle_assignments_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'maintenances.title'), maintenances_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_road_taxes.title'), vehicle_road_taxes_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_fines.title'), vehicle_fines_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_cards.title'), vehicle_cards_path
          
          %li.icon.icon-left
            = link_to (t 'menu.dropdown'), '#'
            .mp-level
              %h2.icon= t 'vehicles.title'
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_manufacturers.title'), vehicle_manufacturers_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_categories.title'), vehicle_categories_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_statuses.title'), vehicle_statuses_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'vehicle_fine_types.title'), vehicle_fine_types_path
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + (t 'contracts.title'), '#'
      .mp-level
        %h2.icon= t 'contracts.title'
        %a.mp-back{:href => "#"}= t 'helpers.links.back'
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'contracts.title'), contracts_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'companies.title'), companies_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'contract_types.title'), contract_types_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'unit_types.title'), unit_types_path
          
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + (t 'menu.fuel'), '#'
      .mp-level
        %h2.icon= t 'menu.fuel'
        %a.mp-back{:href => "#"}= t 'helpers.links.back'
        %ul
          /%li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'menu.depot'), units_path(:id=>1)
          %li.icon.icon-left
            = link_to (t 'menu.depot'), '#'
            .mp-level
              %h2.icon= t 'menu.fuel'
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'menu.depot_listing'), units_path(:id=>1)
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'depot_fuels.title'), depot_fuels_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'fuel_supplieds.title3'), fuel_supplieds_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'fuel_issueds.title3'), fuel_issueds_path
          %li.icon.icon-left
            = link_to (t 'menu.unit'), '#'
            .mp-level
              %h2.icon= t 'menu.fuel'
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'unit_fuels.title2'), unit_fuels_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'add_fuels.title2'), add_fuels_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'external_supplieds.title'), external_supplieds_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'external_issueds.title'), external_issueds_path						
          /%li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'fuel_tanks.title'), fuel_tanks_path
          %li.icon.icon-left
            = link_to (t 'menu.fuel_tank'), '#'
            .mp-level
              %h2.icon= t 'menu.fuel'
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'menu.fuel_tank_listing'), fuel_tanks_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'fuel_balances.title'), fuel_balances_path		  
          %li.icon.icon-left
            = link_to (t 'menu.inden_card'), '#'
            .mp-level
              %h2.icon= t 'menu.fuel'
              %a.mp-back{:href => "#"}= t 'helpers.links.back'
              %ul
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'menu.inden_card_listing'), inden_cards_path
                %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'inden_usages.title'), inden_usages_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'fuel_types.title'), fuel_types_path
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + (t 'menu.people'), '#'
      .mp-level
        %h2.icon= t 'menu.people'
        %a.mp-back{:href => "#"}= t 'helpers.links.back'
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'units.title'), units_path(:id=>0)
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'staffs.title'), staffs_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + (t 'ranks.title'), ranks_path

          
        